footer {
    width: 100%;
    background: #efefef;
    .inner {
        width: 1180px;
        height: 300px;
        margin: 0 auto;
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        

        h4 {
            font-size: 24px;
            margin-bottom: 120px;
            text-align: left;
        }

        span {
            font-size: 16px;
            color: #443B35;
            margin-bottom: 30px;
            a {
                border-bottom: 1px dotted #000;
            }
        }
        
       .footer {
           position: relative;
           &::after {
               content: '';
               display: block;
               clear: both;
           }
        .sns {
            float: left;
            position: absolute;
            top: -200px;
            left: 70%;
            li {
                padding: 10px;
                border-bottom: 1px solid #888;
                &:hover {
                    border-bottom: 1px solid #000;
                }
            }
        }
        .pages {
            float: right;
            position: absolute;
            top: -200px;
            left: 90%;
            li {
                padding: 10px;
                border-bottom: 1px solid #888;
                &:hover {
                    border-bottom: 1px solid #000;
                }
            }
        }
       }
    }
}

/* Tablet */
@media screen and (max-width: $tablet) {
    footer {
        .inner {
            width: 100%;
            padding: 80px 20px;

            span {
                display: block;
                width: 400px;
                // font-size: 16px;
                // color: #443B35;
                // margin-bottom: 30px;
                // a {
                //     border-bottom: 1px dotted #000;
                // }
            }
            
           .footer {
            .sns {
                float: left;
                position: absolute;
                top: -200px;
                left: 70%;
                li {
                    padding: 10px;
                    border-bottom: 1px solid #888;
                    &:hover {
                        border-bottom: 1px solid #000;
                    }
                }
            }
            .pages {
                float: right;
                position: absolute;
                top: -200px;
                left: 90%;
                li {
                    padding: 10px;
                    border-bottom: 1px solid #888;
                    &:hover {
                        border-bottom: 1px solid #000;
                    }
                }
            }
           }
        }
    }
}
