.content {
   figure {
       position:relative;
        width: 100%;
        height: 300px;
        background: #efefef;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
   }

    >.inner {
        width: 1180px;
        margin: 20px auto;
        position: absolute;
        top: 480px;
        left: 900px;
        margin-top: -300px;
        margin-left: -600px;
        text-align: center;
        opacity: 0;
        transform: translateY(50px);
        transition: 0.5s;
        
        h1 {
            font-weight: 700;
            font-size: 40px;
            color: transparent;
            -webkit-text-stroke: 2px #f1a574;
            margin-bottom: 40px;
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50px;
                left: 570px;
                width: 40px;
                height: 2px;
                background: #f1a574;
            }
        }

        p {
            font-size: 18px;
            color: #f1a574;
        }
    }

    &.on {
        >.inner {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
}
