nav {
    width: 280px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #efefef;
    z-index: 5;
    padding: 50px;

    h1 {
        font-size: 32px;
        color: #1f464a;
        margin-bottom: 50px;
    }

    #gnb {
        li {
            margin-left: -8px;
            margin-bottom: 20px;
            padding: 8px;
            &:hover {
                a {
                    color: #1f464a;
                    font-weight: 700;
                }
            }
        }
    }

    a {
        color : #000;
    }
}
