nav {
    width: 280px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 5;
    padding: 50px;

    h1 {
        margin-bottom: 50px;
    }

    a {
        color : #fff
    }
}