.scroll_navi {
	position: fixed;
	top: 50%;
	right: 50px;
	transform: translateY(-50%);

	li {
		width: 20px;
		height: 20px;
		background: #fff;
		border: 1px solid #777;
        border-radius:25px;
		margin-bottom: 20px;
		cursor: pointer;
		transition: 0.5s;

		&.on {
			height: 100px;
			background: #333;
		}
	}
}
