#pics {
	width: 100%;
	height: 100vh;
	padding: 5vw;
	background: #efefef;
	overflow: hidden;

	h2 {
		font-size: 140px;
		color: #1f464a;
		position: relative;
		top: 90px;
		&:nth-of-type(1) {
			text-align: left;
		}
		&:nth-of-type(2) {
			text-align: center;
		}
		&:nth-of-type(3) {
			text-align: right;
		}
	}
	

	.list {
		position: relative;
		li {
			display: inline-block;
			bottom: -500px;
			z-index: 3;
			cursor: pointer;
			
			&:nth-of-type(1) {
				position: absolute;
				width: 300px;
				height: 400px;
				left: 0;
				top: -20px;
				box-shadow: 12px 8px 22px 1px #c1c8cc;	
			}		
			&:nth-of-type(2) {
				position: absolute;
				left: 680px;
				box-shadow: 12px 8px 22px 1px #c1c8cc;	
			}
			&:nth-of-type(3) {
				position: absolute;
				width: 200px;
				height: 300px;
				left: 1300px;
				top: 100px;
				box-shadow: 12px 8px 22px 1px #c1c8cc;	

			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			
			}
		}
	}
}

@keyframes move {
	0% {
		height: 100%;
	}
	100% {
		height: 0%;
	}
}
