.loading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.wrap {
    width: 1180px;
    padding: 40px 0;
    margin: 0 auto;
    position: relative;
    &::after {
        content: '';
        display: block;
        clear: both;
    }
    .interest_button {
        float: left;
        position: absolute;
        top:50px;
        left: 68%;
        transform: translateX(-50%);
        width: 120px;
        height: 30px;
        background: #fff;
        border: 2px solid #1f464a;
        border-radius: 4px;
        padding: 6px;
        margin-bottom: 20px;
        font-size: 14px;
        color: #1f464a;
        cursor: pointer;
    }

    .searchBox {
        float: right;
        position: relative;
        right: 100px;
        top: 10px;
        input[type=text] {
            width: 130px;
            height: 30px;
            margin-right: 10px;
            background: #efefef;
            border: none;
            border-radius: 4px;
            padding: 14px;
        }

        button {
            border: none;
            border-radius: 4px;
            background: #1f464a;
            font-size: 12px;
            color: #fff;
            padding: 6px;
        }
    }
    
    .frame {
        transform: translateY(200px);
        opacity: 0;
        transition: 1s;
        min-height: 400px;
        position: relative;
        top: 80px;
        padding: 120px 0;
        &::after {
            content: '';
            display: block;
            clear: both;
        }
    
        &.on {
            transform: translateY(0);
            opacity: 1;
        }

        .box {
            float: left;
            width: 200px;
            height: 200px;
            position: relative;
            top: -60px;
            left: 0;
            border-top: 2px solid #1f464a;
            border-bottom: 2px solid #1f464a;
            margin-bottom: 20px;
            margin-right: 20px;
            strong{
                display: block;
                font-size: 18px;
                padding: 10px;
            }
            span {
                display: block;
                position: absolute;
                right: 10px;
                top: 25px;
                font-size: 16px;
                &::after {
                    content: '';
                    display: block;
                    width: 35px;
                    height: 2px;
                    position: absolute;
                    top: 20px;
                    left: 0;
                    background: #000;
                }
            }
            h3 {
                position: absolute;
                bottom: 10px;
                right: 10px;
                font-size: 62px;
            }
           
        }

        article {
            float: left;
            margin-right: 20px;
            margin-bottom: 60px;
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5) {
                margin-top: 180px;
            }
 
            .inner {
                width: 200px;
                height: 200px;
                .pic {
                    width: 200px;
                    height: 200px;
                    margin-bottom: 8px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                h2 {
                    font-size: 14px;
                    font-weight: 400;
                    word-wrap: break-word;
                }
            }
        }
        
    }
}
